@model Piranha.Manager.Models.ContentEditBlock
@{
    Layout = null;

    var blockType = Piranha.App.Blocks.GetByType(Model.CLRType);
}

<div class="block">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CLRType)
    @Html.HiddenFor(m => m.IsReusable)
    @Html.HiddenFor(m => m.Value.Id)
    <span class="block-label"><i class="@blockType.Icon"></i>@blockType.Name</span>
    <div class="block-buttons">
        <div class="btn btn-sm btn-secondary sortable-handle" data-toggle="tooltip" data-placement="bottom" title="Move"><span class="fas fa-ellipsis-v"></span></div>
        <button class="btn btn-sm btn-secondary block-remove" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fas fa-trash"></i></button>
    </div>
    @Html.EditorFor(m => m.Value, Model.Value.GetType().Name)
</div>
