@model Piranha.Manager.Models.ContentEditBlock

<div class="block">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CLRType)
    @Html.HiddenFor(m => m.IsReusable)
    @Html.HiddenFor(m => m.Value.Id)    
    <span class="block-label"><i class="fab fa-html5"></i>HTML</span>
    <div class="block-buttons">
        <div class="btn btn-sm btn-secondary sortable-handle"><span class="fas fa-ellipsis-v"></span></div>
        <button class="btn btn-sm btn-secondary"><i class="fas fa-trash"></i></button>
    </div>
    @Html.EditorFor(m => m.Value, Model.Value.GetType().Name)
</div>
