@model Piranha.Extend.Fields.ImageField
@{
    var prefix = Html.ViewData.TemplateInfo.HtmlFieldPrefix
        .Replace("[", "_").Replace("]", "_").Replace(".", "_");
}

<div class="row">
    <div class="col">
        @Html.HiddenFor(m => m.Id)
        <div class="btn-group float-right" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#modalMedia" data-filter="image" data-mediaid="@(prefix)_Id" data-medianame="@(prefix)_Filename">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-danger btn-block btn-media-clear" type="button" data-mediaid="@(prefix)_Id" data-medianame="@(prefix)_Filename">
                        <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card text-left image-field" style="margin-right:90px">
            <div class="card-body">
                <a id="@(prefix)_Filename" href="#" data-toggle="modal" data-target="#modalImgPreview" data-filename="@(Model.Media != null ? Model.Media.Filename : "")" data-url="@Url.Content(Model.Media != null ? Model.Media.PublicUrl : "")" data-contenttype="@Model.Media?.ContentType" data-filesize="@(Math.Round(Model.Media != null ? Model.Media.Size : 0 / (double)1024, 1))kB" data-modified="@Model.Media?.LastModified.ToString("yyyy-MM-dd")">
                    @if (Model.Media != null) 
                    {
                        @Model.Media.Filename
                    } 
                    else 
                    {
                        <text>&nbsp;</text>
                    }
                </a>
            </div>
        </div>
    </div>
</div>
