@model Piranha.Extend.IModule

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-thumbnail" src="@Model.IconUrl">
            </div>
            <div class="col-sm-8">
                <label><strong>@Model.Name</strong></label>
                <p class="text-nooverflow">@Model.Description</p>
                <dl class="dl-horizontal">
                    <dt>Version</dt>
                    <dd>@Model.Version</dd>

                    <dt>Package URL</dt>
                    <dd><a class="text-nooverflow" href="@Model.PackageURL">@Model.PackageURL</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>