@model Piranha.Areas.Manager.Models.SiteEditModel
@{
    ViewBag.Title = "Edit site";
    ViewBag.Controller = "Site";
}

@section script {
    <script>
        document.getElementById('Site_Title').focus();
    </script>
}

@using (var form = Html.BeginForm("Save", "Site", FormMethod.Post, new { @class = "form", @role = "form" })) {
    @Html.HiddenFor(m => m.Site.Id)

    <h1>@ViewBag.Title</h1>

    <div class="top-nav">
        <nav>
            <ul class="navbar-nav">
                @if ((await Authorization.AuthorizeAsync(User, Piranha.Manager.Permission.SitesEdit)).Succeeded)
                {
                    <li>
                        <button type="submit" class="btn btn-sm btn-labeled btn-success">
                            <i class="fas fa-check"></i>
                            @if (Model.Site.Id != Guid.Empty) {
                                <text>Update</text>
                            } else {
                                <text>Save</text>
                            }
                        </button>
                    </li>
                }
            </ul>
        </nav>            
    </div>

    @if (!string.IsNullOrWhiteSpace(ViewBag.Message)) {
        <div class="row">
            <div class="col-sm-12">
                <div class="@ViewBag.MessageCss">
                    @Html.Raw(ViewBag.Message)
                </div>
            </div>
        </div>
    }

    <div class="card">
        <div class="card-header">
            <span class="title">General information</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Title</label>
                        @Html.TextBoxFor(m => m.Site.Title, new { @class = "form-control", maxlength = 128 })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Internal Id</label>
                        @Html.TextBoxFor(m => m.Site.InternalId, new { @class = "form-control", maxlength = 64 })
                    </div>                
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Description</label>
                    @Html.TextAreaFor(m => m.Site.Description, new { @class = "form-control form-control-sm", maxlength = 256 })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Culture</label>
                        @Html.TextBoxFor(m => m.Site.Culture, new { @class = "form-control form-control-sm", maxlength = 5, placeholder = "Optional culture" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Hostnames</label>
                        @Html.TextBoxFor(m => m.Site.Hostnames, new { @class = "form-control form-control-sm", maxlength = 256, placeholder = "Optional hostnames" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>IsDefault</label>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.Site.IsDefault, new { @class = "checkbox" })
                                If this should be the default site of the installation.
                            </label>
                        </div>            
                    </div>
                </div>
                <div class="col-sm-6">
                    @if (Model.SiteTypes.Count() > 0)
                    {
                        <div class="form-group">
                            <label>Site Type</label>
                            <select asp-for="Site.SiteTypeId" asp-items="@(new SelectList(Model.SiteTypes, "Id", "Title"))" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}