@{
    var module = Piranha.App.Modules.Get<Piranha.Manager.Module>();
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="~/manager/assets/css/style.min.css">
    @foreach (var style in module.Styles) 
    {
        <link href="@Url.Content(style)" rel="stylesheet" type="text/css" />        
    }
    @RenderSection("head", required: false)
</head>

<body>
    <main class="container-fluid">
        <div class="main-nav">
            <nav>
                <partial name="Partial/_Menu" />
            </nav>
        </div>
        <div class="body">
            @RenderBody()
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        if (typeof(piranha)  == 'undefined')
            piranha = {};

        piranha.baseUrl = '@Url.Content("~/")';
    </script>
    <script src="~/manager/assets/js/script.min.js"></script>
    <script src="~/manager/assets/tinymce/tinymce.min.js"></script>

    <partial name="Partial/_MediaModal" />
    <partial name="Partial/_PreviewModal" />
    <partial name="Partial/_PageModal" />
    <partial name="Partial/_PostModal" />
    <partial name="Partial/_BlockModal" />
    @foreach (var partial in module.Partials) 
    {
        <partial name="@partial" />
    }
    <partial name="Partial/_EditorSetup" />

    @RenderSection("script", required: false)
</body>
</html>
