@model Piranha.Areas.Manager.Models.AliasListModel
@{
    ViewBag.Title = "Aliases";
    ViewBag.Controller = "Alias";
}

<div class="top-nav">
    <nav>
        <ul class="navbar-nav">
            @if (Model.Sites.Count() > 1) 
            {
                <li>
                    <div class="btn-group" role="group">
                        <button id="btnSites" class="btn btn-sm btn-labeled btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-globe"></i>@Model.SiteTitle
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnSites">
                            @foreach (var site in Model.Sites) 
                            {
                                <a class="dropdown-item btn-panel-region" href="@Url.Action("List", new { siteId = site.Id })">@site.Title</a>
                            }
                        </div>
                    </div>
                </li>
            }
            @if ((await Authorization.AuthorizeAsync(User, Piranha.Manager.Permission.AliasesEdit)).Succeeded)
            {
                <li>
                    <a href="#" class="btn btn-sm btn-labeled btn-primary" data-toggle="modal" data-target="#modalAddAlias">
                        <i class="fas fa-plus"></i>Add
                    </a>
                </li>
            }
        </ul>
    </nav>            
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="#">Settings</a></li>
        <li class="breadcrumb-item active" aria-current="page">Aliases</li>
    </ol>
</nav>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message)) {
    <div class="row">
        <div class="col-sm-12">
            <div class="@ViewBag.MessageCss">
                @Html.Raw(ViewBag.Message)
            </div>
        </div>
    </div>
}

<table class="table table-main">
    <thead>
        <tr>
            <th>Alias URL</th>
            <th>Redirect URL</th>
            <th class="date text-center">Permanent</th>
            <th class="actions one"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alias in Model.Items) {
            <tr>
                <td class="text-limit-cell">
                    <code>@alias.AliasUrl</code>
                </td>
                <td class="text-limit-cell">
                    <code>@alias.RedirectUrl</code>
                </td>
                <td class="text-center">
                    @if (alias.Type == Piranha.Models.RedirectType.Permanent) {
                        <span class="fas fa-check"></span>
                    }
                </td>
                <td class="actions one">
                    @if ((await Authorization.AuthorizeAsync(User, Piranha.Manager.Permission.AliasesDelete)).Succeeded) {        
                        <a class="remove confirm-delete" href="@Url.Action("Delete", new { id = alias.Id })" data-message="Are you sure you want to delete the alias?">
                            <span class="fas fa-trash text-danger"></span>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modalAddAlias" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="@Url.Action("Add")" method="post">
            <input type="hidden" name="SiteId" value="@Model.SiteId">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add new alias</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Alias URL</label>
                                <input type="text" class="form-control" name="AliasUrl" placeholder="Add a new Alias URL">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Redirect URL</label>
                                <input type="text" class="form-control" name="RedirectUrl" placeholder="Add the URL to redirect to">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="IsPermanent" value="true">
                                    If the redirect should be permanent.
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
