@model Piranha.Areas.Manager.Models.PageListModel
@{
    ViewBag.Title = "Pages";
    ViewBag.Controller = "Page";

    if (Model.Sites.Count > 1) {
        ViewBag.Title = Model.SiteTitle;
    }
}

@section script {
    <script type="text/javascript">
        $(function () {
            @for (var n = 0; n < Model.PageTypes.Count; n++) {
                <text>
                    manager.pageTypes[@n] = {
                        id: '@Model.PageTypes[n].Id',
                        title: '@Model.PageTypes[n].Title'
                    };
                </text>
            }

            $('.dd').nestable({
                group: 1
            });

            $('.dd').on('change', function() {
                // TODO: Show spinner & block sitemap while saving
                $('#sitemap-spinner').show();

                $.ajax({
                    url: '/manager/pages/move',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        Items: $('.dd').nestable('serialize') 
                    }),
                    success: function (data) {
                        // TODO: Hide spinner
                        $('#sitemap-spinner').hide();

                        // Update the sitemap
                        $('.dd .sitemap').html(data);
                    }
                });
            });
        });

        $(document).on('click', '#btn-copy', function (e) {
            e.preventDefault();

            // Show modal
            $('#modalPage').modal('show');
            piranha.page.callback = function (ret) {
                console.log(ret.id);
                window.location.href = '/manager/page/copy/' + ret.id + '/@Model.SiteId';
            };
        });
    </script>
}

<div class="top-nav">
    <nav>
        <ul class="navbar-nav">
            @if (Model.Sites.Count > 1) 
            {
                <li>
                    <div class="btn-group" role="group">
                        <button id="btnSites" type="button" class="btn btn-sm btn-labeled btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-globe"></i>@Model.SiteTitle
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnSites">
                            @foreach (var site in Model.Sites) 
                            {
                                <a class="dropdown-item btn-panel-region" href="@Url.Action("ListSite", new { siteId = site.Id })">@site.Title</a>
                            }
                        </div>
                    </div>
                </li>
            }
            @if (Model.HasSiteContent)
            {
                <li><a class="btn btn-sm btn-primary" href="@Url.Action("EditContent", "Site", new { id = Model.SiteContentId })"><i class="fas fa-edit"></i> Edit site</a></li>
            }
            @if ((await Authorization.AuthorizeAsync(User, Piranha.Manager.Permission.PagesAdd)).Succeeded) 
            {
                <li>
                    <div class="btn-group" role="group">
                        <button id="btnPageTypes" class="btn btn-sm btn-labeled btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus"></i>Add
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnPageTypes">
                            @foreach (var type in Model.PageTypes) 
                            {
                                <a class="dropdown-item btn-panel-region" href="@Url.Action("Add", new { type = type.Id, siteId = Model.SiteId })">@type.Title</a>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </nav>            
</div>

<h1>@ViewBag.Title</h1>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message)) {
    <div class="row">
        <div class="col-sm-12">
            <div class="@ViewBag.MessageCss">
                @Html.Raw(ViewBag.Message)
            </div>
        </div>
    </div>
}

<ol class="sitemap header">
    <li>
        <div class="actions three float-right"></div>
        <div class="date float-right">Published</div>
        <div class="info float-right">Page type</div>
        <div class="content">Title</div>
    </li>
</ol>
<div class="dd">
    <ol class="sitemap dd-list">
        @Html.Partial("Partial/_Sitemap", new Piranha.Areas.Manager.Models.SitemapModel() { 
            Sitemap = Model.Sitemap,
            SiteId = Model.SiteId,
            PageId = Model.PageId, 
            ExpandedLevels = Model.ExpandedLevels 
        })
    </ol>
    <div id="sitemap-spinner" class="spinner" style="display:none"></div>
</div>
