@model Piranha.Manager.Models.PageEditModel

@section topnav 
{
    @if (Model.PinnedRegions.UnPinned.Count > 0)
    {
        <li>
            <div class="btn-group" role="group">
                <button id="btnContent" type="button" class="btn btn-sm btn-labeled btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-table"></i>Regions
                </button>
                <div class="dropdown-menu" aria-labelledby="btnContent">
                    @foreach (var region in Model.PinnedRegions.UnPinned)
                    {
                        <a class="dropdown-item btn-panel-region" data-id="#region-@region.Id" href="#">@region.Id</a>
                    }
                </div>
            </div>
        </li>
    }
    <li><button class="btn btn-sm btn-success"><i class="fas fa-check"></i></button></li>
    <li><button class="btn btn-sm btn-primary btn-panel-settings"><i class="fas fa-cog"></i></button></li>
}

<form autocomplete="off" method="post">
    <div class="body-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="#">Content</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>

        @Html.DisplayFor(m => Model.PinnedRegions.BeforeTitle)
        @Html.TextBoxFor(m => m.Title, new { @class = "title", placeholder = "Add your new Page title here" })
        @Html.DisplayFor(m => Model.PinnedRegions.BeforeBody)
        <div class="blocks">
            @Html.EditorFor(m => m.Blocks)
        </div>
        @Html.DisplayFor(m => Model.PinnedRegions.AfterBody)
    </div>
    @Html.Partial("Partial/_PanelBlocks")
    @Html.Partial("Partial/_PanelMedia")
    @Html.Partial("Partial/_PanelSettings")
    @Html.EditorFor(m => m.Regions)

    @section script
    {
        <script>
            $(function () {
                piranha.blocks.init();
            });
        </script>
    }
</form>
