@model Piranha.Manager.Models.PageEditModel

@using (var form = Html.BeginForm("Save", "Page", FormMethod.Post, new { @class = "main-form", autocomplete = "off" })) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.OriginalPageId)
    @Html.HiddenFor(m => m.SiteId)
    @Html.HiddenFor(m => m.TypeId)
    @Html.HiddenFor(m => m.ContentType)
    @Html.HiddenFor(m => m.ParentId)
    @Html.HiddenFor(m => m.SortOrder)

    <div class="top-nav">
        <nav>
            <ul class="navbar-nav">
                @if (Model.PinnedRegions.UnPinned.Count > 0)
                {
                    <li>
                        <div class="btn-group" role="group">
                            <button id="btnContent" type="button" class="btn btn-sm btn-labeled btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-table"></i>Regions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnContent">
                                @foreach (var region in Model.PinnedRegions.UnPinned)
                                {
                                    <a class="dropdown-item btn-panel-region" data-id="#region-@region.Id" href="#">@region.Id</a>
                                }
                            </div>
                        </div>
                    </li>
                }
                <li><button class="btn btn-sm btn-success" type="submit"><i class="fas fa-check"></i></button></li>
                <li><button class="btn btn-sm btn-primary btn-panel-settings"><i class="fas fa-cog"></i></button></li>
            </ul>
        </nav>            
    </div>

    <div class="body-content">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="#">Content</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>

        @Html.DisplayFor(m => Model.PinnedRegions.BeforeTitle)
        <input asp-for="Title" class="title" placeholder="Add your new Page title here" />
        @Html.DisplayFor(m => Model.PinnedRegions.BeforeBody)
        <div class="blocks">
            <!--
            <div class="block block-group">
                <span class="block-label block-group-label"><i class="fas fa-object-group"></i>Teasers [Master/Detail with global fields]</span>
                <div class="block-buttons">
                    <div class="btn btn-sm btn-secondary sortable-handle" data-toggle="tooltip" data-placement="bottom" title="Move"><span class="fas fa-ellipsis-v"></span></div>
                    <button class="btn btn-sm btn-secondary block-remove" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fas fa-trash"></i></button>
                </div>
                <div class="block-group-header">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control form-control-sm" placeholder="Main Title" value="Mollis Cursus Sem">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Subtitle</label>
                                <input type="text" class="form-control form-control-sm" placeholder="Optional Subtitle" value="Cras mattis consectetur purus sit amet fermentum.">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <div class="group-editor"><div class="content-area block-editor editor-area">
                            <p style="text-align: center;">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 block-group-list">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item">Cras justo odio<i class="delete fas fa-trash text-danger float-right" style="margin-top:.15rem" data-toggle="tooltip" data-placement="bottom" title="Delete"></i></a>
                            <a href="#" class="list-group-item">Dapibus ac facilisis in<i class="delete fas fa-trash text-danger float-right" style="margin-top:.15rem" data-toggle="tooltip" data-placement="bottom" title="Delete"></i></a>
                            <a href="#" class="list-group-item active">Morbi leo risus<i class="delete fas fa-trash text-danger float-right" style="margin-top:.15rem" data-toggle="tooltip" data-placement="bottom" title="Delete"></i></a>
                            <a href="#" class="list-group-item">Porta ac consectetur ac<i class="delete fas fa-trash text-danger float-right" style="margin-top:.15rem" data-toggle="tooltip" data-placement="bottom" title="Delete"></i></a>
                        </div>
                        <a href="#" class="btn btn-primary btn-sm btn-labeled">
                            <i class="fas fa-plus"></i>
                            Add Item
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="group-editor">
                            <div class="content-area block-editor editor-area">
                                <h3>Morbi leo risus</h3>
                                <p>
                                    Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam 
                                    venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. 
                                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.                                
                                </p>
                                <p>
                                    Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.
                                </p>
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="block block-group">
                <span class="block-label block-group-label"><i class="fas fa-object-group"></i>Slider [Master/Detail]</span>
                <div class="block-buttons">
                    <div class="btn btn-sm btn-secondary sortable-handle" data-toggle="tooltip" data-placement="bottom" title="Move"><span class="fas fa-ellipsis-v"></span></div>
                    <button class="btn btn-sm btn-secondary block-remove" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fas fa-trash"></i></button>
                </div>
                <div class="row">
                    <div class="col-md-4 block-group-list">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item active">Cras justo odio<i class="delete fas fa-trash text-danger float-right" style="margin-top:.15rem" data-toggle="tooltip" data-placement="bottom" title="Delete"></i></a>
                            <a href="#" class="list-group-item">Dapibus ac facilisis in<i class="delete fas fa-trash text-danger float-right" style="margin-top:.15rem" data-toggle="tooltip" data-placement="bottom" title="Delete"></i></a>
                            <a href="#" class="list-group-item">Morbi leo risus<i class="delete fas fa-trash text-danger float-right" style="margin-top:.15rem" data-toggle="tooltip" data-placement="bottom" title="Delete"></i></a>
                        </div>
                        <a href="#" class="btn btn-primary btn-sm btn-labeled">
                            <i class="fas fa-plus"></i>
                            Add Item
                        </a>                        
                    </div>
                    <div class="col-md-8">
                        @{
                            var image = new Piranha.Extend.Fields.ImageField();
                        }
                        <div class="form-group">
                            <label>Background Image</label>
                            @Html.EditorFor(m => image)
                        </div>
                        <div class="form-group">
                            <label>Slider Content</label>
                            <div class="group-editor">
                                <div class="content-area block-editor editor-area">
                                    <h3>Cras justo odio</h3>
                                    <p>
                                        Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam 
                                        venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. 
                                        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.                                
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->

            @Html.EditorFor(m => m.Blocks)
        </div>
        @Html.DisplayFor(m => Model.PinnedRegions.AfterBody)
    </div>
    <partial name="Partial/_PanelBlocks" />
    <partial name="Partial/_PanelMedia" />
    <partial name="Partial/_PanelSettings" />
    @Html.EditorFor(m => m.Regions)

    <div class="notification notification-success">
        <p><strong>Success: </strong> The page was saved</p>
    </div>

    @section script
    {
        <script>
            $(function () {
                piranha.blocks.init();
            });
        </script>
    }
}