@model Piranha.Manager.Models.PageEditModel

<div class="panel panel-settings">
    <a class="panel-close" href="#"><i class="fas fa-times"></i></a>
    <span class="panel-title">Page Settings</span>
    <div class="panel-body">
        <div class="form-group">
            <label>Publish Date</label>
            @Html.TextBoxFor(m => m.Published, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group">
            <label>Navigation Title</label>
            @Html.TextBoxFor(m => m.NavigationTitle, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group">
            <label>Hidden</label>
            <div class="form-check">
                @Html.CheckBoxFor(m => m.IsHidden, new { @class = "form-check-input" })
                @Html.LabelFor(m => m.IsHidden, "If the page should be hidden in the sitemap.", new { @class = "form-check-label" })
            </div>
        </div>
        <div class="form-group">
            <label>Slug</label>
            @Html.TextBoxFor(m => m.Slug, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group">
            <label>Meta Keywords</label>
            @Html.TextBoxFor(m => m.MetaKeywords, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group">
            <label>Meta Description</label>
            @Html.TextAreaFor(m => m.MetaDescription, new { @class = "form-control form-control-sm", rows = 5 })
        </div>
    </div>
</div>
